/**** Base Styles ****/

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #553555;
    color: white;
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
}

h1 {
    margin-top: 0;
}

header p {
    display: inline;
}

.main-content {
    flex: 1;
}

footer {
    background-color: lightgray;
    text-align: center;
    padding: 1em;

}