/**** Base Styles ****/

body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: visible;
}

header {
    background-color: #675682;
    color: white;
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 3px 5px gray;
}

header p {
    width: 80%;
    margin: auto;
}

h1 {
    margin-top: 0;
}

.main-content {
    flex: 1;
}

.images {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.images img {
    width: 100%;
    height: auto;
    margin: 5px;
}

.contact-wrapper {
    width: 85%;
    margin: auto;
    margin-bottom: 1em;
    padding-bottom: 1em;
    text-align: center;
    background-color: #67AECA;
}

.contact-wrapper p {
    padding: 1em;
}

input[type="text"],
input[type="email"],
textarea {
    margin: 6px 0 16px 0;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 100%;
}

label {
    display: block;
    float: left;
}

.form-input {
    width: 70%;
    margin: auto;
}

textarea {
    height: 100px;
}

form {
    text-align: center;
}

.btn-submit {
    background-color: #E52A6F;
    border-radius: 3px;
    border: 1px solid gray;
    padding: 5px 10px;
}

.btn-submit:hover {
    background-color: #cc195b; 
    color: white;
  }

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;

}