/**** Base Styles ****/

/**** Element Styles ****/
body {
    margin: 0;
    font-family: 'Amaranth', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: visible;
    box-sizing: border-box;
}

header {
    background-color: #675682;
    color: white;
    text-align: center;
    padding: 20px 0px 0px 0px;
    box-shadow: 0 3px 5px gray;
}

header p {
    width: 90%;
    margin: auto;
}

h1 {
    margin-top: 0;
}

form {
    text-align: center;
}

input[type="text"],
input[type="email"],
textarea {
    margin: 6px 0 16px 0;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 100%;
    height: 35px;
}

label {
    display: block;
    float: left;
}

textarea {
    height: 150px;
}

footer {
    background-color: black;
    color: lightgray;
    text-align: center;
    padding: 20px;
    font-size:12px;
}

/**** Classes ****/

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin-bottom: 0;
    /* background-color: #5f0F4E; */
}
.nav li {
    list-style-type: none;
    text-align: center;
    padding: 15px 10px;
}

.nav a {
    color: white;
    width: 100%;
    display: block;
}

.nav a:link {
    text-decoration: none;
}

.nav a:hover {
    color: #E52A6F;
}

.main-content {
    flex: 1;
    margin-top: 15px;
}

.img-wrap-base {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.img-base {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 3px;
}

.about {
    width: 90%;
    margin: auto;
    text-align: center;
    border: 1px solid gray;
    margin-bottom: 15px;
    border-radius: 3px;
}

.about p {
    padding: 0 5px;
}

.contact-wrapper {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 1px;
    text-align: center;
    background-color: #67AECA;
    border-radius: 3px;
}

.contact-wrapper p {
    font-size: 20px;
}

.form-input {
    width: 90%;
    margin: auto;
}

.form-input input:focus,
.form-input textarea:focus,
.btn-submit {
    border: 1px solid #E52A6F;
    box-shadow: 0 0 3px #E52A6F;
    outline-color: #E52A6F;
    outline-offset: 0px;
    outline: none;
}

.btn-submit {
    background-color: #E52A6F;
    border-radius: 3px;
    border: 1px solid gray;
    padding: 5px 10px;
    margin-bottom: 16px;

}

.btn-submit:hover {
    background-color: #cc195b; 
    color: white;
    cursor: pointer;
}

.top {
    text-align: center;
}

.top a {
    color: black;
}

.top:link {
    list-style-type: none;
}
.top a:link {
    color: #675682;
    text-decoration: none;
}

.top a:hover {
    color: #E52A6F;
}


/**** Tablet Styles ****/
@media (min-width: 750px) {
    .img-wrap-tab {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 95%;

    }

    .img-tab {
        width: 48%;
        /* height: 446px; */
        
    }

}


/**** Desktop Styles ****/
